.crrerrors {
    color: red;
    font-size: 14px;
}

.crcont {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 30px;
}


.crrwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    /* margin-top: 5%; */
    padding: 20px;
    width: 100%;
    border-radius: 30px;
}

.crouter-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.crrinput {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 30px;
    margin-bottom: 5%;
}

.crsendBtn {
    cursor: pointer;
    margin-top: 5%;
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(0.25turn, rgb(255, 111, 135), rgb(255, 15, 79));
}

.crsendBtn:hover {
    background: linear-gradient(0.25turn, rgb(255, 15, 79), rgb(255, 111, 135));
}

.crlogo {
    font-size: 30px;
    color: rgb(255, 111, 135);
}

.crreviewwheader {
    /* color: rgb(255, 111, 135); */
    font-size: 22px;
}

.reerrors {
    color: red;
}
