.header {
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
        sans-serif;
    float: left;
    justify-content: left;
}

/* .outer {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
} */

.stars {
    float: right;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: 10px;

}

.reviewsLink {
    float: right;
    transform: translateY(200%);
    color: black;
}

.detailcontainer {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 95%;
}



.det {
    display: flex;
    flex-direction: row;
    justify-content: safe;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
        sans-serif;
}

.revieew {
    margin-right: 10px;
    color: black;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
        sans-serif;
}

.ownername {
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
        sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.pernight {
    color: gray;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
        sans-serif;
}

.spotprice {
    margin-bottom: 5px;
}

.linkdiv {
    display: flex;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
        sans-serif;
    color: black;
    flex-direction: row;
    align-items: center;
}

.editbtnn {
    margin-right: 10px;
    color: black;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
        sans-serif;
}

.editbtnn:hover {
    color: brown;
}


.deletespotbtn {
    background: white;
    border: none;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
        sans-serif;
    font-size: 16px;
    text-decoration: underline;
}

.deletespotbtn:hover {
    color: brown;
    cursor: pointer;
}

.acover {
    width: 100%;
}

.aircover {
    /* width: 100%; */
}

.lrbtn {
    color: white;
    background: rgb(255, 111, 135);
    border: none;
    width: 100px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 2%;
}

.lrbtn:hover {
    background-color: rgb(255, 66, 98);
}


.boxcont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.bookingcont {
    border: 1px solid rgb(219, 216, 216);
    border-radius: 2%;
    width: 26%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding: 3%;
    box-shadow: 0px 0px 10px rgb(162, 161, 161);
}


.booknight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5%;
}

.bnstars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.booknightprice {
    font-size: 20px;
    font-weight: bold;
}


.ownerstatscont {
    width: 55%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

.imgdiv {
    width: 90%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imgcontainer {
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 25px;
    height: 400px;
    width: 55%;
}

.imgsplitcont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 400px;
    /* border: 1px solid pink; */
    margin-top: 3%;
    margin-bottom: 3%;
}

.imgsplit {
    height: 190px;
    width: 70%;
    border-radius: 20px;
}

.checkwrap {}

.bookerr {
    color: red;
}

.checkincont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3%;
    width: auto;
}

.checkinput {
    border: none;
    cursor: pointer;
}

.checklabel {
    font-size: 12px;
}


.ciformcont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    width: 100%;
}

.rsvbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4%;
}

.reservebtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(0.25turn, rgb(255, 111, 135), rgb(255, 15, 79));
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.reservebtn:hover {
    background: linear-gradient(0.25turn, rgb(255, 15, 79), rgb(255, 111, 135));
}

.charge {
    font-size: 14px;
    color: rgb(119, 119, 119);
}

.chargetot {
    width: 100%;
    padding-top: 4%;
    border-top: 1px solid gray;
}
