.spotformcont {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */
    background: linear-gradient(rgb(251, 176, 189), #fbfcff);
    height: 100%;
}

.csform {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subBtn {
    border: none;
    background: rgb(255, 111, 135);
    padding: .5rem;
    margin: 1rem 0;
    width: auto;
    color: azure;
    cursor: pointer;
    border-radius: 20px;
}

.subBtn:hover {
    background: rgb(244, 46, 79);
}

.spotheader {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

.spotForm {
    border: 1px solid black;
    margin: 20px 0;
    padding: 50px;
    border-radius: 5px;
    width: 500px;
}

.err {
    color: #dc0707;
}

.csinput {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30px;
    color: grey;
}

.pricecs {
    color: grey;
}


.csstateinput {
    width: 102.5%;
    height: 37px;
    color: gray;
}

/* #modal-content {
    border-radius: 13px;
} */
