.splashwrapper {
    display: flex;
    flex-direction: row;
}

.spotcard {
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
    cursor: pointer;
    text-decoration: none;
    color: black;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.spotimg {
    height: 250px;
    width: 300px;
    border-radius: 10%;
}

.infowrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.spotloc {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-bottom: 1%;
    margin-top: 1%;
}

.spotrate {
    display: flex;
    flex-direction: row;
    margin-right: 0;
}

.spotprice {
    font-weight: bold;
    padding-bottom: 2%;
}

.price {
    margin-top: 2%;
}

.spotname {
    color: gray;
}

.hostedcont {
    border-bottom: 1px solid rgb(219, 216, 216);
    margin-bottom: 2%;
}

.ownerstats {
    margin-bottom: 2%;
    border-bottom: 1px solid rgb(219, 216, 216);
}

.owneraward {
    font-size: 20px;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}

.words {
    margin-left: 4%;
}

.deta {
    color: gray;
    font-size: 16px;
}

.elo {
    margin-bottom: 2%;
}

.acover {
    border-bottom: 1px solid rgb(219, 216, 216);
    padding-bottom: 2%;
}

.aircover {
    width: 40%;
}

.airc {
    font-size: 30px;
    color: rgb(255, 111, 135);
    margin-bottom: 1%;
}

.blackcover {
    color: black;
}

.spotdes {
    margin-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid rgb(219, 216, 216);
}
