.reviewdeletebtn {
    background: linear-gradient(0.25turn, #ad18ed, #9198e5);
    border: none;
    padding: .5em;
    border-radius: 15px;
    color: aliceblue;
    margin-top: 15px;
    position: static;
}

.reviewdeletebtn:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.reviewername {
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.review {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.star {
    color: rgb(215, 218, 43);
}

.numberstar {
    margin-top: 5px;
}

.reviewscont {
    margin-top: 2%;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    /* width: 100%; */
}

.reviewswrapper {
    padding: 2%;
    /* border: 1px solid gray; */
    width: 50%;
}

.revimg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 4%;
}

.namestars {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.revsrs {
    color: grey;
}
