.sucont {
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* width: 100%; */
    background: white;
    border-radius: 50px;
}

.signupmodal {
    border-radius: 5px;
    width: 500px;
}

.suinput {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30px;
    margin-top: 3%;
}

.speccbtn {
    border: none;
    background: rgb(255, 111, 135);
    padding: .5rem;
    margin: 1rem 0;
    width: auto;
    color: azure;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 4%;
    margin-top: 10%;
}

.speccbtn:hover {
    background: rgb(251, 66, 97);
}

.suheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(254, 64, 96);
}

.signupbtn {
    border: none;
    background: rgb(255, 111, 135);
    /* padding: .5rem;
    margin: 1rem 0; */
    color: azure;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 4%;
    width: 75px;
    height: 28px;
}

.signupbtn:hover {
    background: rgb(251, 66, 97);
}
