.calebbnb {
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
        sans-serif;
    font-size: 20px;
    display: flex;
    font-weight: bold;
}

.dropdown {
    /* position: relative;
    display: inline-block; */
    display: flex;
    width: 100%;
}

.dropdwn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}


/* .profile-dropdown {
    background-color: #f9f9f9;
    box-shadow: 0px 0px 0px 4px linear-gradient(0.25turn, #e66465, #9198e5);
    padding-right: 20px;
    border-radius: 25px;
    height: 80px;
    font-size: small;
    padding-top: 10px;
} */

.textdiv {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: #fffdfd;
}

.textdiv div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.textdiv div:hover {
    background-color: #e3e2e2;
}

.dropdown:hover .textdiv {
    display: block;
}


.logoutBtn {
    color: white;
    background: rgb(255, 111, 135);
    border: none;
    width: 90px;
    cursor: pointer;
}

.logo {
    font-size: 40px;
    margin-right: 5%;
}

.navcont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 1%;
    /* margin-bottom: 2%; */
    padding-bottom: 1%;
    padding-top: 1%;
    border-bottom: 1px solid rgb(219, 216, 216);
    align-items: center;
}

.navwrapper {
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 111, 135);
}

.seslinks {
    /* margin-left: 85%; */
    margin-right: 4%;
    display: flex;
    flex-direction: row;
    width: 30%;
}

.becomehost {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-weight: 500;
    font-size: small; */
    cursor: pointer;
    border: none;
    background-color: white;
    padding: 3%;
}

.becomehost:hover {
    background-color: rgba(237, 235, 235, 0.792);
    border-radius: 30px;
}

.pb {
    margin-left: 5%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 45%;

}

.bars {
    font-size: 60%;
    display: flex;
    flex-direction: row;
    /* margin-right: 30%;
    padding-left: 5%; */

}

.usercircle {
    color: gray;
    display: flex;
    flex-direction: row;
}


.userNav {
    font-size: 26px;
    border: none;
    outline: none;
    /* color: linear-gradient(0.25turn, #e66465, #9198e5); */
    cursor: pointer;
    background-color: white;
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
    align-items: center;
    /* padding-left: 15%; */
    border: 1px solid rgb(159, 159, 159);
    border-radius: 30px;
    padding: 5%;
}

.userNav:hover {
    box-shadow: 0px 5px 5px rgb(162, 161, 161);
}
