.lfcont {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* width: 100%; */
    background: white;
    border-radius: 50px;
}

.lfheader {
    color: rgb(245, 69, 99);
    display: flex;
    justify-content: center;
}

.login-form {
    /* margin: 20px 0; */
    /* padding: 50px; */
    border-radius: 5px;
    width: 500px;
}

.lfinput {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30px;
    margin-top: 5%;
}

.loginbtn {
    border: none;
    background: rgb(255, 111, 135);
    /* padding: .5rem;
    margin: 1rem 0; */
    color: azure;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 4%;
    width: 75px;
    height: 28px;
}

.loginbtn:hover {
    background: rgb(251, 66, 97);
}

.demobtn {
    border: none;
    background: rgb(255, 111, 135);
    padding: .5rem;
    margin: 1rem 0;
    width: auto;
    color: azure;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 4%;
    margin-top: 10%;
}

.errlog {
    color: red;
}
